In [1]:
import numpy as np
import json
import pandas as pd

In [12]:
df = pd.read_csv(r'C:\Users\luked\OneDrive\Desktop\RevatureTraining\Project2\tmdb-5000-movie-dataset\new\tmdb_5000_movies_new.csv', encoding='utf8', dtype='str', error_bad_lines=False)
df.shape

(4803, 16)

In [13]:
df.to_csv('C:\\Users\\luked\\OneDrive\\Desktop\\RevatureTraining\\Project2\\tmdb-5000-movie-dataset\\tmdb_5000_movies_new.csv')

In [19]:
df.loc[[2230]].overview

2230    Desperate for companionship the repressed Will...
Name: overview, dtype: object

AttributeError: 'DataFrame' object has no attribute 'cast_id'

In [16]:
here = df.release_date

In [47]:
print(df.loc[[222]])

        budget homepage     id original_language original_title  \
222  115000000      NaN  68724                en        Elysium

                                              overview popularity  \
222  In the year 2159 two classes of people exist: ...   67.33767

    release_date    revenue runtime                         spoken_languages  \
222   2013-08-07  286140700     109  [{"iso_639_1": "en" "name": "English"}]

       status              tagline    title vote_average vote_count
222  Released  He can save us all.  Elysium          6.4       3439

In [45]:
df.loc[[3554]]

,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3554,5000000,http://www.insidiousch2.com/,91586,en,Insidious: Chapter 2,The haunted Lambert family seeks to uncover th...,48.375848,2013-09-12,0,106,"[{""iso_639_1"": ""en"" ""name"": ""English""} {""iso_6...",Released,It will take what you love most.,Insidious: Chapter 2,6.5,1211

In [66]:
strBuild = ""
count = 0
for x in here:
    strBuild = ""
    strBuild 
        print(x)
        print(count)
    count = count + 1;

In [54]:
here.head(5)

0    2009-12-10
1    2007-05-19
2    2015-10-26
3    2012-07-16
4    2012-03-07
Name: release_date, dtype: object

In [49]:
df.to_csv('C:\\Users\\luked\\OneDrive\\Desktop\\RevatureTraining\\Project2\\tmdb-5000-movie-dataset\\tmdb_5000_movies_new.csv', index=False)